<h3>Editing Flight <%= @flight.id %></h3>


<% planeid = @plane.id.to_s %>
<% flightid = @flight.id.to_s %>
<%= form_for([@plane, @flight], :url => '/app/planes/' + planeid + '/flights/' + flightid) do |f| %>

  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>
      <ul>
      <% @flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :origin %><br>
    <%= f.text_field :origin %>
  </div>
  <div class="field">
    <%= f.label :destination %><br>
    <%= f.text_field :destination %>
  </div>
  
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
<p>Plane: <%= link_to @plane.name, plane_flights_path %></p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', plane_flight_path %> |
<%= link_to 'Back', plane_flights_path %>
