<h3>Flight <%= @flight.id %></h3>
<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @flight.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @flight.destination %>
</p>

<p>
  <strong>Date:</strong>
  <%= @flight.date %>
</p>

<p>
  <strong>Plane ID:</strong>
  <%= @flight.plane_id %>
</p>

<p>
  <strong>Plane Name:</strong>
  <%= link_to @plane.name, plane_flights_path %>
</p>

<%= link_to 'Edit', edit_plane_flight_path%> |
<%= link_to 'Back', plane_flights_path %>

